
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
       <form action="/bookmarks/<%= bookmark.id %>" method="POST">
         <input type='hidden' name='_method' value='delete'/>
         <input type='hidden' name='id' value='<%= bookmark.id %>'/>
         <input type="submit" value="Delete" id="delete-<%= bookmark.title %>"/>
      </form>
    </li>
  <% end %>
</ul>

<form action="/bookmarks/new">
  <input type="submit" value="Create a Bookmark" />
</form>
